body {
    font-family: Arial, sans-serif;
    background-color: rgb(213, 206, 206);
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 1px;
    justify-content: space-between;
}

.logo {
    width: 70px;
}

h1 {
    margin: 0;
    font-size: 50px;
    color: white;
    font-family: "Changa", sans-serif;
}



.contato-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}

.contato-link:hover {
    text-decoration: underline;
}

.contato {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.contato h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contato p {
    font-size: 16px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form label {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ff0000;
}

form button {
    background-color: #000;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}




.botao {
    text-decoration: none;
    color: white;
    background-color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.botao:hover {
    background-color: #444;
}